@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&display=swap');
    body{background-color:lightslategray;
          height: 100px;
          margin: 0px;
        }
    header{
      padding: 32px;
      border-bottom: 1px solid rgb(30, 86, 142);
      background-color: rgb(55, 95, 135);

    }
    header div {
      text-align:center;
    }
    header div a{
      transition: 1000ms ;
      font-family: "Boldonse", system-ui;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 20px;
      line-height:30px;
      margin:0 16px;
      text-decoration: none;
    }
     header div a:hover  {
      color: rgb(108, 136, 240);
      transition: 700ms ;
    }
  
    #box{
      text-align: center;
      padding: 16px;
      font-family: "Boldonse", system-ui
    }

    #box img{
      width: 100px;
      height: 100px;
    }
    #box img{
      border: 3px solid rgb(86, 86, 254);
      margin-bottom: 16px;
    }
    #box h1{
      font-size: 28px;
      line-height: 32px;
      font-weight: bolder;
      color: rgb(24, 52, 94);
    }
    #box h2{
      font: size 24px; 
      line-height: 34px;
      font-weight: normal;
      margin-top: 8px;
      opacity: 0.8;
      color: rgb(19, 75, 159);
    }
    #box p{
    max-width: 500px;
    margin: 25;
    font-size: 24px;

    }

      