@import url('https://fonts.googleapis.com/css2?family=Anton&family=Boldonse&display=swap');
    :root{
      --subcor: rgb(142, 134, 201);
    }
    
    body{background-color: var(--subcor);
          height: 100px;
          margin: 0px;
        }
    header{
      padding: 32px;
      border-bottom: 0px solid rgb(30, 86, 142);
      background-color: rgb(16, 34, 61);
    }
    .links {
      text-align:center;
    }
    .links a{
      transition: 1000ms ;
      font-family: "Boldonse", system-ui;
      font-weight: 400;
      font-style: normal;
      color: white;
      font-size: 20px;
      line-height:30px;
      margin:0 16px;
      text-decoration: none;
    }
     .links a:hover  {
      transition: 250ms ;
      font-size: 23px;
    }
  
    #box{
      text-align: center;
      padding: 16px;
      font-family: "Boldonse", system-ui
    }

    #box img{
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
    #box img{
      border: 3px solid rgb(16, 34, 61);
      margin-bottom: 23px;
    }
    #box h1{
      font-size: 28px;
      line-height: 32px;
      font-weight: bolder;
      color: rgb(16, 34, 61);
    }
    #box h2{
      font: size 24px; 
      line-height: 34px;
      font-weight: normal;
      margin-top: 8px;
      opacity: 0.8;
      color: rgb(16, 34, 61);
    }


      